ul.navigation{
	font-size: 140%;
	display:table-row;
}
ul.navigation li{
	display:table-cell;
}
ul.navigation li+li{
	padding-left:20px;
}

.overview,.configuration{
	width:600px;
}

li + ul{
	margin-top:20px;
}
li{
	margin-top:20px;
}

ul li ul li{
	margin-top:10px;	
}

.pass,.fail{
	font-size:160%;
	width:16px;
	height:16px;
}
.pass:before{
	content:  "\2714";
	color:green;
}
/*
.fail:before{
	content: "\26A0";
	color:red;
}
*/

#txt-test-url{
	width:100%;
}

.configuration-entries > input{
	width:300px
}
.regex-entries input{
	width:260px;
}

.configuration > ul{
	padding-left:0;
}

li.configuration-entries{
	border-bottom:1px solid grey;
	padding-bottom:20px;
}